@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Acompanhe a Diseminação do Virus</h2>
    <p>Mapa de infecção <a href="https://charts.mongodb.com/charts-mongo-dio-papbl/public/dashboards/6065d85c-b1b1-4b79-8e62-6438593a1993">
        Dashboard MongoDB</a>.</p>
</div>
